* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f5f4f4;
  font-family: 'Roboto', sans-serif;
}

body > div {
  display: flex;
  max-width: 1200px;
  width: 90%;
  justify-content: center;

  flex-direction: column;
}

#hex {
  filter: invert(31%) sepia(56%) saturate(223%) hue-rotate(156deg)
    brightness(88%) contrast(84%);
}

#grid {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 30px;
}

@media (min-width: 800px) {
  #iconSobre {
    width: 72px;
  }
}
@media (min-width: 760px) {
  #grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
  }
}
@media (min-width: 1100px) {
  #grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
  }
}
